html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(220,70,220);
  color: #ffffff;
}

.hello-ts {
  color: #3370A9;
}

.hello-react {
  color: #7FF7FF;
}

.hello-sass {
  font-family: cursive;
  font-weight: 100;
}
